body {
	color: white;
}

#header {
	margin-bottom: 30px;
}

th {
	font-family: 'Raleway';
	font-size: 2em;
}
/* Not working
tr .headerRow:first-child {
  border-top: none;
}
*/


td {
	font-family: 'Latin-Roman-Slant';
	line-height: 25px;
	width: 50%;
}
.slotNumCell input {
	height: 22px;
	line-height: 22;
	width: 40px;
	color: white;
	
	background-color: rgb(20,20,20);
	border: none;
	border-bottom: 1px solid white;
}
